body {margin: 0px;}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Hero, sans-serif;
}

.header-background {
    background-color: #1F2937;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    color: #F9FAF8;
    height: 4em;
    padding: 0px 32px;
    max-width: 1000px;
    min-width: 700px;
    flex-grow: 1;
    margin: 0 auto;
}

.header-left {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
}

.header-right {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.header-right ul {
    display: flex;
    align-items: center;
    gap: 1em;
}

.content {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    width: 100%;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 32px;
    max-width: 1080px;
    min-width: 700px;
}

.hero-left {
    width: 450px;
    padding: 0px 30px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    padding: 8px;
}

.hero-button button {
    padding: 6px 24px;
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 8px;
    border-style: none;
    color:#E5E7EB;
    font-weight: 600;
}

.hero-image-placeholder {
    background-color: gray;
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0px 64px 0px;
    gap: 32px;
}

.carousel {
    display: flex;
    gap: 48px;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel .img-placeholder {
    height: 140px;
    width: 140px;
    border: solid;
    border-radius: 14px;
    border-color: #3882F6;
    border-width: 4px;
}

.carousel .text {
    width: 144px;
    text-align: center;
    padding: 16px 0px;
    color: #1F2937
}

.carousel-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quote-background {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote-container {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0px;
}

.quote-text {
    max-width: 900px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
}

.quote-attribution {
    color: #0a0d11;
    font-size: 30px;
    text-align: right;
    font-weight: 700;
    padding-right: 40px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 24px;
}